### By: Domendra (523110015)

# Tasks

 **Que1**

In [1]:
name = "Domendra"
age = 21
height = 175.5
is_student = True


print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

**Que2**

In [6]:

num = int(input("Enter a number: "))


if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number:  8

Positive

**Que3**

In [7]:
even_sum = 0
for num in range(1, 11):
    if num % 2 == 0:
        print(num)
        even_sum += num


print("Sum of even numbers:", even_sum)

2
4
6
8
10
Sum of even numbers: 30

**Que4**

In [9]:

def square(number):
    return number ** 2


print(square(4))

16

# Assignment

In [10]:
#as1: 
num = int(input("Enter a number: "))
word = input("Enter a word: ")
decimal_num = float(input("Enter a decimal number: "))


print("Type of num:", type(num))
print("Type of word:", type(word))
print("Type of decimal_num:", type(decimal_num))


print("Addition of number and decimal:", num + decimal_num)
print("Concatenation of word and number:", word + str(num))

Enter a number:  2
Enter a word:  abcd
Enter a decimal number:  2.2

Type of num: <class 'int'>
Type of word: <class 'str'>
Type of decimal_num: <class 'float'>
Addition of number and decimal: 4.2
Concatenation of word and number: abcd2

In [12]:
#as2

variable_name = input("Enter a variable name: ")


if variable_name.isidentifier():
    print("Valid variable name.")
else:
    print("Invalid variable name. Variable names must start with a letter or underscore and contain only letters, numbers, and underscores.")

Enter a variable name:  var

Valid variable name.

In [14]:
#as3

choice = input("Choose conversion: (1) Celsius to Fahrenheit (2) Fahrenheit to Celsius: ")


temp = float(input("Enter the temperature: "))


if choice == "1":
    converted_temp = (temp * 9/5) + 32
    print(f"{temp}°C is equal to {converted_temp}°F")
elif choice == "2":
    converted_temp = (temp - 32) * 5/9
    print(f"{temp}°F is equal to {converted_temp}°C")
else:
    print("Invalid choice.")

Choose conversion: (1) Celsius to Fahrenheit (2) Fahrenheit to Celsius:  1
Enter the temperature:  32

32.0°C is equal to 89.6°F

In [15]:
#as4

score = float(input("Enter percentage score: "))


if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(f"The grade is: {grade}")

Enter percentage score:  44

The grade is: F

In [16]:
#as5

year = int(input("Enter a year: "))


if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year:  2022

2022 is not a leap year.

In [17]:
#as6
# Simple program to generate lyrics
def generate_lyrics():
    line1 = "Twinkle, twinkle, little star,"
    line2 = "How I wonder what you are!"
    line3 = "Up above the world so high,"
    line4 = "Like a diamond in the sky."

    print(f"{line1}\n{line2}\n{line3}\n{line4}")

generate_lyrics()

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.